# Ignore the tmp folder anywhere
tmp/

# Ignore any file with "copy" in the name (case insensitive usually works via patterns)
*copy*
*Copy*
*copy *.php
# Log files
spl-error-report.log
spl-fatal-error.log
debug.log
